@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Mono&family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    border-radius: 50%;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
}

.description {
    margin-top: 12%;
    font-family: 'IBM Plex Mono', monospace;
}

p {
    margin-top: 5%;
    font-size: 2vw;
    
}

.newsletter{
    margin-top: 5%;
}

.newsletter-title{
    font-family: 'IBM Plex Mono', monospace;
    color: #a92cda;
    font-size: 3vh;
}

.newsletter-form{
    margin-top: 10%;
}


/* TYPEWRITER */

.title {
    font-size: 3vw;
    width: auto;
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    color: #a92cda;
    overflow:  hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.05em; /* Adjust as needed */
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
    margin: auto;
}

/* The typing effect */
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #942bb4;
  }
}



@media (max-width: 450px) {
    .main-content{
        width: 80%;


    }
    p{
        font-size: 1.2rem;
        padding: 10px;
    }
    .title{
        font-size: 6vw;
    }
    .newsletter-title{
        font-size: 3vh;
    }
}

@media (min-width: 1350px) {
    p{
        font-size: 1.5rem;
    }
    .title{
        font-size: 2.3rem;
    }
    .newsletter-title{
        font-size: 2.3rem;
    }
}
